<div class="container">
  <div class="row mt-2">
    <h2 class="col-2 head-line title_h2 bg-secondary text-white text-center">投稿詳細</h2>
  </div>
  <div class="row">
    <div class="col-5">
      <%= link_to user_path(@post_animal.user_id) do %>
        <%= image_tag @post_animal.get_image,size:"400x400" %>
      <% end %>
    </div>
    <div>
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(@post_animal.user_id) do %>
              <p class="h2 text-dark"><%= @post_animal.user.name %></p>
            <% end %>
          </td>
          <td><p class="h2 mt-4"><%= @post_animal.caption %></p></td>
          <td><%= @post_animal.created_at.strftime('%Y/%m/%d') %></td>
          <td>
            <% if@post_animal.user_id == current_user.id %>
              <%= link_to "削除", post_animal_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </div>
  </div>
</div>