<div class="container">
  <div class="row mt-2">
    <h2 class="col-md-4 col-sm-10 head-line title_h2 bg-secondary text-white text-center">投稿一覧</h2>
  </div>
  <!--投稿内容-->

  <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 mx-auto">
    <% @post_animals.each do |post_animal| %>
      <div class="col mb-2">
        <div class="card h-100" style="width: 17rem;">
          <%= link_to admins_post_animal_path(post_animal.id) do %>
            <%= image_tag post_animal.get_image, class: "card-img-top", size: "200x200" %>
            <h5 class="card-title text-dark ml-3">
              <%= post_animal.caption %>
            </h5>
            <div class="card-body text-dark">
              <%= post_animal.user.name %>
              <%= post_animal.created_at.strftime('%Y/%m/%d') %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="row d-flex justify-content-center">
  <%= paginate @post_animals %>
</div>

