<div class="container">
  <div class="row mt-2">
    <h2 class="col-3 head-line title_h2 bg-secondary text-white text-center">いいね一覧</h2>
  </div>

  <!--いいね一覧-->
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @favorite_post_animals.each do |post_animal|%>
      <div class="col mb-2">
        <div class="card h-100" style="width: 18rem;">
          <%= link_to post_animal_path(post_animal.id) do %>
            <%= image_tag post_animal.get_image, class: "card-img-top", size: "200x200" %>
            <h5 class="card-title text-dark ml-3">
              <%= post_animal.user.name %>
            </h5>
            <div class="card-body text-dark">
              <%= post_animal.caption %><br>
              <%= post_animal.created_at.strftime('%Y/%m/%d') %>
              <div class="favorites_buttons_<%= post_animal.id %>">
                <%= render "favorites/btn", post_animal: post_animal %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

<div class="row">
  <div class="offset-5">
    <div class="text-center">
      <%= paginate @post_animals %>
    </div>
  </div>
</div>
</div>

