<div class="container">
  <div class="row mt-2">
    <h2 class="col-xl-12　col-sm-12 head-line title_h2 bg-secondary text-white text-center">アカウント詳細</h2>
  </div>
</div>
  <!-- ユーザーの詳細 -->
<div class="container mt-3 px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3 col-sm-11">
      <%= image_tag @user.get_profile_image, size: '200x200', class:"rounded-circle" %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>
              <p class="h3 text-center text-white mt-3">ニックネーム</p>
            </th>
          </tr>
          <tr>
            <th>
              <p class="h1 text-center text-white"><%= @user.name %></p>
            </th>
          </tr>
          <% if @user != current_user %>
            <tr>
              <th class="btn btn-info w-100 ">
                <%= render "relationships/follow", post_animal: @user %>
              </th>
            </tr>
          <% end %>
        <!--もしuserでログイン中なら-->
        <% if @user.id == current_user.id %>
          <!--なおかつ、userがgesutではなければ-->
          <% if @user.name != "guestuser" %>
            <tr>
              <th class="text text-center">
                <%= link_to user_followings_path(@user), class:"btn btn-info w-100" do %>
                  フォロー数:<%= @user.followings.count %>
                <% end %><br>
                <%= link_to  user_followers_path(@user), class:"btn btn-info mt-3 w-100" do %>
                  フォロワー数:<%= @user.followers.count %>
                <% end %>
              </th>
            </tr>
            <tr>
              <th class="text text-center">
                <%= link_to "アカウント編集", edit_user_path(current_user.id), class: "btn btn-info w-100" %>
              </th>
            </tr>
            <tr>
              <th class="text text-center">
                <p><%=link_to"いいね一覧",favorites_user_path(@user), class: "btn btn-info w-100" %></p>
              </th>
            </tr>
          <% end %>
          <tr>
            <th>
              <p class="text-white">
                新規投稿はこちらから
                <%= link_to new_post_animal_path do %>
                  <button type="button" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;">＋</button>
                <% end %>
               </p>
            </th>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-1"></div>

    <!-- ユーザーの投稿一覧 -->
    <div class="col-md-8 col-sm-11">
      <h2 class="col-lg-11 col-sm-12 head-line title_h2 bg-dark text-white text-center">過去の投稿</h2>
      <div class="row">
        <%= render "post_animals/index", post_animals: @post_animals %>
      </div>
    </div>
  </div>
</div>
<!--ページネーション-->
<div class="row mt-3 user_show_img">
  <%= paginate @post_animals %>
</div>


