<div class="container">
  <div class="row mt-2">
    <h2 class="col-xl-12　col-sm-12 head-line title_h2 bg-secondary text-white text-center">アカウント詳細</h2>
  </div>
</div>
  <!-- ユーザーの詳細 -->
<div class="container mt-3 px-5 px-sm-0">
  <div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="container user_show_box mb-4">
        <div class="row pb-1">
          <div class="mx-auto">
            <%= image_tag @user.get_profile_image, size: '200x200', class:"rounded-circle" %>
          </div>
          <table class="table">
            <tbody>
              <tr></tr>
              <tr>
                <th>ニックネーム</th>
                <th>
                  <%= @user.name %>
                </th>
              </tr>
            </tbody>
          </table>
          <% if @user.name != "guestuser" %>
            <%= link_to edit_admins_user_path(@user),class: "btn btn-outline-dark btn-block" do %>
              <i class="fas fa-user-edit"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-1"></div>
    <!-- ユーザーの投稿一覧 -->
   <div class="col-lg-8 col-md-12 col-sm-12">
      <h2 class="col-lg-12 col-sm-12 head-line title_h2 bg-dark text-white text-center mx-auto">過去の投稿</h2>
      <div class="row row-cols-xl-2 row-cols-md-2 mx-auto">
        <%= render "admins/post_animals/index", post_animals: @post_animals %>
      </div>
    </div>
  </div>
</div>
<!--ページネーション-->
<div class="row mt-3 user_show_img">
  <%= paginate @post_animals %>
</div>

