<div class="box2 bg-white">
  <div class="box-inner">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1>ログイン</h1>
      　<!--名前-->
        <div class="box-name">
        <%= f.label :name, "ニックネーム" %><br />
        <%= f.text_field :name, autofocus: true, :placeholder => "ニックネーム" %>
        </div>
        <!--パスワード-->
        <div class="box-password">
          <div class="a-row">
            <div class="column-left">
              <%= f.label :password, "パスワード" %>
            </div>
          </div>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <!--ログインボタン-->
        <div class="box-login">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
