<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <!--ログイン後はuserの詳細ページ-->
  <% if user_signed_in? %>
    <%= link_to user_path(current_user.id) do %>
      <h2 class="font_heder_rogo text-dark mr-5">AnimalZoo</h2>
    <% end %>
  <% else %>
    <!--ログイン前はtopページ-->
    <%= link_to root_path do %>
      <h2 class="font_heder_rogo text-dark mr-5">AnimalZoo</h2>
    <% end %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--ログイン後-->
     <% if user_signed_in? %>
      <li class="nav-item active mr-3">
        <%= link_to  user_path(current_user.id), class:"text-dark h5" do %>
         <i class="fas fa-home"></i>マイページ
        <% end %>
      </li>
      <li class="nav-item active mr-3">
        <%= link_to post_animals_path, class:"text-dark h5" do %>
          <i class="fas fa-list"></i>投稿一覧
        <% end %>
      </li>
      <li class="nav-item active mr-3">
        <%= link_to  new_post_animal_path, class:"text-dark h5" do %>
          <i class="fas fa-plus"></i>新規投稿
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to  destroy_user_session_path, class:"text-dark h5", method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>ログアウト
        <% end %>
      </li>
    </ul>
    <!--search機能-->
      <%= form_with url: search_path, local: true, method: :get, class: "form-inline my-2 my-lg-0" do |f| %>
        <%= f.search_field :word, placeholder:"ニックネームで検索", class: "form-control mr-sm-2" , required: true%>
        <%= f.submit "検索", class: "btn btn-outline-dark my-2 my-sm-0" %>
      <% end %>
    <!--管理者なら-->
    <ul class="navbar-nav mr-auto">
    <% elsif admin_signed_in? %>
      <li class="nav-item active mr-3">
        <%= link_to admins_post_animals_path, class:"text-dark h5" do %>
          <i class="fas fa-list"></i>投稿一覧
        <% end %>
      </li>
      <li class="nav-item active mr-3">
        <%= link_to admins_users_path, class:"text-dark h5" do %>
          <i class="fas fa-users"></i>アカウント一覧
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to destroy_admin_session_path, class:"text-dark h5", method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>ログアウト
        <% end %>
      </li>
    </ul>
      <!--search機能-->
      <%= form_with url: admins_search_path, local: true, method: :get, class: "form-inline my-2 my-lg-0" do |f| %>
        <%= f.search_field :word, placeholder:"ニックネームで検索", class: "form-control mr-sm-2" , required: true%>
        <%= f.submit "検索", class: "btn btn-outline-dark my-2 my-sm-0" %>
      <% end %>
    <% else %>
    <!--ログイン前-->
      <li class="nav-item active mr-3">
        <%= link_to new_user_registration_path, class:"text-dark h5" do %>
          <i class="fas fa-plus"></i>新規投稿
        <% end %>
      </li>
      <li class="nav-item active mr-3">
        <%= link_to new_user_session_path, class:"text-dark h5" do %>
          <i class="fas fa-sign-in-alt"></i>ログイン
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to about_path, class:"text-dark h5" do %>
          <i class="fas fa-exclamation-circle"></i>Animal Zooとは
        <% end %>
      </li>
    <% end %>
  </div>
</nav>